<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--- Bootstrap JS --->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--- D3 JS --->
    <script src="https://d3js.org/d3.v5.js"></script>

    <!--- CMS --->
    <script type="text/javascript" src="javascript/image.js"></script>
    <script type="text/javascript" src="javascript/cms.js"></script>
    <link rel="stylesheet" href="stylesheets/cms.css">

</head>

<body>

    <div class="container-fluid main">
        <div class="header container-fluid">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8">
                    Neighborhood Newsletter “Core Plus”
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-light btn-lg" onclick="save()">Save</button>
                </div>
            </div>

        </div>

        <div class="section">
            <h2>
                Summary of neighborhood headlines
            </h2>
            <div class="neighborhood">
              <div class="form-group">
                  <input type="text" class="form-control title-input" placeholder="Enter Title" value="Summary of neighborhood headlines">
                  <small class="form-text text-muted"> Please enter the title for this section.</small>
              </div>
              <div class="form-group">
                  <textarea class="form-control text-area" id="headlineTextArea" rows="4"></textarea>
              </div>
            </div>
        </div>

        <div class="section">
            <h2>
                Weather Outlook
            </h2>
            <div class="weather">
              <div class="form-group">
                  <input type="text" class="form-control title-input" placeholder="Enter Title" value="Weather Outlook">
                  <small class="form-text text-muted"> Please enter the title for this section.</small>
              </div>
              <div class="form-group">
                  <textarea class="form-control text-area" id="weatherTextArea" rows="4"></textarea>
              </div>
            </div>
        </div>
        <div class="section">
            <h2>
                Events
            </h2>

            <div class="events">
              <div class="form-group">
                  <input type="text" class="form-control title-input" placeholder="Enter Title" value="Fishtown Events">
                  <small class="form-text text-muted"> Please enter the title for this section.</small>
              </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <select class="custom-select" id="leftValues" size="5" multiple>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Article URL" aria-label="Article URL" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <input class="btn btn-success btn-block btn-add" type="button" id="btnRight" value="+" />
                        <input class="btn btn-danger btn-block btn-minus" type="button" id="btnLeft" value="-" />
                    </div>
                    <div class="col">
                        <select class="custom-select" id="rightValues" size="8" multiple>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>
                News
            </h2>

            <div class="news">
              <div class="form-group">
                  <input type="text" class="form-control title-input" placeholder="Enter Title" value="Fishtown News">
                  <small class="form-text text-muted"> Please enter the title for this section.</small>
              </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <select class="custom-select" id="leftValues" size="5" multiple>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Article URL" aria-label="Article URL" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <input class="btn btn-success btn-block btn-add" type="button" id="btnRight" value="+" />
                        <input class="btn btn-danger btn-block btn-minus" type="button" id="btnLeft" value="-" />
                    </div>
                    <div class="col">
                        <select class="custom-select" id="rightValues" size="8" multiple>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>
                Fishtown Safety Watch
            </h2>
            <div class="safety">
              <div class="form-group">
                  <input type="text" class="form-control title-input" placeholder="Enter Title" value="Fishtown Safety Watch">
                  <small class="form-text text-muted"> Please enter the title for this section.</small>
              </div>
              <div id="images">
              </div>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile">
                  <label class="custom-file-label" for="input">Choose file</label>
                </div>
                <div class="input-group-append">
                  <button class="input-group-text">Upload</button>
                </div>
              </div>
              <div class="form-group">
                  <textarea class="form-control text-area" id="safetyTextArea" rows="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</textarea>
              </div>

            </div>
        </div>
        <div class="section">
            <h2>
                History
            </h2>
            <div class="history">
              <div class="form-group">
                  <input type="text" class="form-control title-input" placeholder="Enter Title" value="Fishtown History">
                  <small class="form-text text-muted"> Please enter the title for this section.</small>
              </div>
              <div id="images">
              </div>
              <div class="mb-3">
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile">
                    <label class="custom-file-label" for="input">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <button class="input-group-text">Upload</button>
                  </div>
                </div>
                <small class="form-text text-muted"> Please select and upload images for this section (2 is reccommended).</small>
              </div>
              
              <div class="form-group">
                  <textarea class="form-control text-area" id="historyTextArea" rows="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</textarea>
              </div>
            </div>            
        </div>
        <div class="section">
            <h2>
                Instagram photos from Local Businesses
            </h2>
        </div>
        <div class="section">
            <h2>
                Tweets
            </h2>
            <div class="tweets">
              <div class="form-group">
                  <input type="text" class="form-control title-input" placeholder="Enter Title" value="Tweets from Local Officials">
                  <small class="form-text text-muted"> Please enter the title for this section.</small>
              </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <select class="custom-select" id="leftValues" size="8" multiple>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <input class="btn btn-success btn-block btn-add" type="button" id="btnRight" value="+" />
                        <input class="btn btn-danger btn-block btn-minus" type="button" id="btnLeft" value="-" />
                    </div>
                    <div class="col">
                        <select class="custom-select" id="rightValues" size="8" multiple>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>
                Top Facebook Post from Neighborhood Group
            </h2>
        </div>
        <div class="section">
            <h2>
                Statistics
            </h2>
            
            <div class="stats">
              <div class="form-group">
                  <input type="text" class="form-control title-input" placeholder="Enter Title" value="Fishtown Stats">
                  <small class="form-text text-muted"> Please enter the title for this section.</small>
              </div>
              <div id="images">
              </div>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile">
                  <label class="custom-file-label" for="input">Choose file</label>
                </div>
                <div class="input-group-append">
                  <button class="input-group-text">Upload</button>
                </div>
              </div>
            </div>
            
        </div>
        <div class="section">
            <h2>
                Fishtown Local Business Offers
            </h2>
        </div>
        <div class="section">
            <h2>
                Ask the Editor
            </h2>
        </div>
        <div class="section">
            <h2>
                Answer from the Editor
            </h2>
        </div>
        <div class="section">
            <h2>
                For Sale Properties
            </h2>
        </div>
        <div class="section">
            <h2>
                Recently Sold Properties
            </h2>
        </div>
        <div class="section">
            <h2>
                New Construction & Demolition
            </h2>
            
            <div class="permits">
                <div class="form-group">
                    <input type="text" class="form-control title-input" placeholder="Enter Title" value="New Construction & Demolition">
                    <small class="form-text text-muted"> Please enter the title for this section.</small>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <select class="custom-select" id="leftValues" size="5" multiple>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Article URL" aria-label="Article URL" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <input class="btn btn-success btn-block btn-add" type="button" id="btnRight" value="+" />
                        <input class="btn btn-danger btn-block btn-minus" type="button" id="btnLeft" value="-" />
                    </div>
                    <div class="col">
                        <select class="custom-select" id="rightValues" size="8" multiple>
                        </select>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="section">
            <h2>
                Permits Under Review
            </h2>
            <div class="reviews">
                <div class="form-group">
                    <input type="text" class="form-control title-input" placeholder="Enter Title" value="Permits Under Review">
                    <small class="form-text text-muted"> Please enter the title for this section.</small>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <select class="custom-select" id="leftValues" size="5" multiple>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Article URL" aria-label="Article URL" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <input class="btn btn-success btn-block btn-add" type="button" id="btnRight" value="+" />
                        <input class="btn btn-danger btn-block btn-minus" type="button" id="btnLeft" value="-" />
                    </div>
                    <div class="col">
                        <select class="custom-select" id="rightValues" size="8" multiple>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>
                Footer
            </h2>
        </div>


    </div>

</body></html>
