github "Alamofire/Alamofire" ~> 4.8 # 5.x still in beta, undocumented
github "hkellaway/Gloss"
github "Alamofire/AlamofireImage"
github "omaralbeik/UserDefaultsStore"
github "ink-spot/UPCarouselFlowLayout"
github "malcommac/SwiftDate"
github "ReactiveX/RxSwift"
github "SnapKit/SnapKit"
github "SVProgressHUD/SVProgressHUD"
github "konkab/AlamofireNetworkActivityLogger"
github "amplitude/Amplitude-iOS"
github "RxSwiftCommunity/RxAlamofire"
github "RxSwiftCommunity/RxSwiftExt"
github "RxSwiftCommunity/RxCoreLocation"
github "realm/realm-cocoa"
github "RxSwiftCommunity/RxRealm"
github "tristanhimmelman/ObjectMapper"
github "APUtils/ObjectMapperAdditions"
github "RxSwiftCommunity/NSObject-Rx"
github "getsentry/sentry-cocoa"
github "brenthargrave/DifferenceKit" "drop-window-presence-guard"
github "brenthargrave/GoogleReporter" "drop-uiwebview-invocation"
github "hyperoslo/Lightbox"
github "marmelroy/PhoneNumberKit"
github "RxSwiftCommunity/RxGesture"

# Firebase experimental carthage support: https://git.io/fAxBS
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"
