github "Alamofire/Alamofire"
github "hkellaway/Gloss"
github "Alamofire/AlamofireImage"
github "omaralbeik/UserDefaultsStore"
github "ksmandersen/GoogleReporter"
github "ink-spot/UPCarouselFlowLayout"
github "malcommac/SwiftDate"
github "ReactiveX/RxSwift"
github "SnapKit/SnapKit"
github "brenthargrave/Schedule" "fix-project-version"
github "SVProgressHUD/SVProgressHUD"
github "konkab/AlamofireNetworkActivityLogger"

# Firebase experimental carthage support: https://git.io/fAxBS
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"
