Flask==1.1.1
requests==2.22.0
python-dateutil==2.8.1
ics==0.6
recurring-ical-events==0.1.13b0
icalendar==4.0.3
python-dotenv==0.10.5
tweepy==3.8.0
feedparser==5.2.1
beautifulsoup4==4.8.2
cloudinary==1.19.1