<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMPLITUDE_API_KEY</key>
	<string>$(AMPLITUDE_API_KEY)</string>
	<key>API_HOST</key>
	<string>$(API_HOST)</string>
	<key>API_PROT</key>
	<string>$(API_PROT)</string>
	<key>APP_MARKETING_PATH</key>
	<string>$(APP_MARKETING_PATH)</string>
	<key>APP_NAME</key>
	<string>$(APP_NAME)</string>
	<key>BUNDLE_ID_PREFIX</key>
	<string>$(BUNDLE_ID_PREFIX)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(APP_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>(Set automatically in custom Build Phases script)</string>
	<key>ENV_NAME</key>
	<string>$(ENV_NAME)</string>
	<key>GOOGLE_ANALYTICS_TID</key>
	<string>$(GOOGLE_ANALYTICS_TID)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app uses your location to show you restaurants around you. Please Always Allow access.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app uses your location to show you restaurants around you. Please Always Allow access.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to recommend restaurants around you. Please Always Allow access.</string>
	<key>UIAppFonts</key>
	<array>
		<string>GothamNarrowSSm-Black.otf</string>
		<string>GothamNarrowSSm-BlackItalic.otf</string>
		<string>GothamNarrowSSm-Bold.otf</string>
		<string>GothamNarrowSSm-BoldItalic.otf</string>
		<string>GothamNarrowSSm-Book.otf</string>
		<string>GothamNarrowSSm-BookItalic.otf</string>
		<string>GothamNarrowSSm-Light.otf</string>
		<string>GothamNarrowSSm-LightItalic.otf</string>
		<string>GothamNarrowSSm-Medium.otf</string>
		<string>GothamNarrowSSm-MediumItalic.otf</string>
		<string>GothamNarrowSSm-XLight.otf</string>
		<string>GothamNarrowSSm-XLightItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
