.img-wrap {
    position: relative;
    margin: 0px 5px 10px 5px;
    height: 160px;
    min-width: 160px;
}
.img-wrap .btn-close {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 100;
}

h1 {
    font-size: 18px;
}

h2 {
    height: 48px;
    font-weight: 500;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #000000;
}

#images {
  text-align: center;
}

#images img {
  text-align: center;
}

.header {
  text-align: center;
  background-color: #d8d8d8;
  font-size: 28px;
  font-weight: 600;
  padding: 20px;
}
.title {
    text-align: center;
    background-color: #d8d8d8;
    font-size: 28px;
    font-weight: 600;
    padding: 20px;
}

.section {
    padding: 20px;
}

.main {
    border: 1px solid #d8d8d8;
    padding: 0px !important;
}

button:focus, textarea:focus, input:focus{
    outline: none;
}

.btn:focus {
    outline: none;
}

.btn-add,
.btn-minus {
    height: 40px;
}
