table {
    margin-left: auto;
    margin-right: auto;
}

.weather {
  width: 520px;
}

.weather .day {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}

.weather table {
  border: 0px solid black;
  margin: 0px 0px 10px 0px;
  font-size: 10px;
}

.weather th, .weather td {
  border: 0px solid black;
  padding: 6px 6px 6px 6px;
}

.weather table {
  text-align: center;
  background-color: #d8d8d8;
  height: 60px;
  width: 60px;  
}

.weather td {
  vertical-align: middle !important;
}

.weather tr {
  border-spacing: 15px !important;
}

.permit img {  
    object-fit: cover;
    width: 200px;
    height: 150px;
}

.permit {
    padding: 12px;
}

.article img {  
    object-fit: cover;
    width: 260px;
    height: 130px;
}

.article {
    padding: 12px;
}

.main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d8d8d8;
    border-spacing: 0px;
}

.header td {
    height: 75.5px;
    background-color: #d8d8d8;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #000000;
    font-size: 14px;
}

.header {
    height: 75px;
}


.title {
    padding: 20px 0px 0px 12px;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.caption {
    width: 228px;
    height: 37px;
    width: 456px;
    height: 74px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding: 12px 55px 12px 75px;
}

.newstitle {
    height: 16px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.section {
    width: 100%;
    padding: 10px;
}

.section a:link {
  text-decoration: none;
}

.section td {
  vertical-align: top;
}

.tweet a {
  -ms-word-break: break-all;
  word-break: break-all;
  word-wrap: break-word;
}

.tweet {
    word-wrap: break-word;
    background-color: #d8d8d8;
    margin: 6px;
    padding: 23px;
    font-weight: 500;
    font-size: 12px;
    height: 100px;
}

.event {
    background-color: #d8d8d8;
    margin: 6px;
    padding: 23px;
    font-weight: 500;
    font-size: 12px;
    height: 100px;
}

.newscaption {
    height: 16px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.footer {
    background-color: #d8d8d8;
}

.footer table {
    width: 100%;
    height: 245px;
    padding: 38px;
    border-spacing: 0px;
}

.feedback {
    width: 448px;
    height: 72px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding: 0 0 25px 0;
}

a {
    color: black;
}

a.more {
    width: 351px;
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    text-decoration: none;
    color: #4a90e2;
}
