github "ashleymills/Reachability.swift"
github "Alamofire/Alamofire" ~> 4.7
github "hkellaway/Gloss"
github "Alamofire/AlamofireImage" ~> 3.4

# Firebase experimental carthage support: https://git.io/fAxBS
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashBinary.json"
