github "ashleymills/Reachability.swift"
github "Alamofire/Alamofire" ~> 4.7
github "hkellaway/Gloss"
github "Alamofire/AlamofireImage" ~> 3.4
github "konkab/AlamofireNetworkActivityLogger" ~> 2.3
github "omaralbeik/UserDefaultsStore" ~> 1.0
github "ksmandersen/GoogleReporter" ~> 1.5
github "ink-spot/UPCarouselFlowLayout"
github "malcommac/SwiftDate"
github "ReactiveX/RxSwift" ~> 4.0
github "RxSwiftCommunity/NSObject-Rx"
github "SnapKit/SnapKit"

# Firebase experimental carthage support: https://git.io/fAxBS
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"
